<main>
  <h1>{{pageHeader}}</h1>
  <ul class="products__list">
    {{#each products}}
      <li data-id={{this._id}} class="item">
        <p class="item__data item__title">{{{this.title}}}</p>
        <p class="item__data">Descripción:
          {{{this.description}}}</p>
        <p class="item__data">Precio: ${{{this.price}}}</p>
        <p>Stock: <span class="item__data product__stock">{{{this.stock}}}</span></p>

        <div class="d-flex justify-left gap-4">
          <div class="d-flex border-1 align-items-center rounded-1">
            <button class="btn-minus-qty" type="button">-</button>
            <span>Cantidad: <span class="quantity-display">1</span></span>
            <button class="btn-plus-qty" type="button">+</button>
          </div>
          <div>
            <button class="btn-add-to-cart" type="button">Agregar al carrito</button>
          </div>
        </div>
      </li>
    {{/each}}
  </ul>

  <div class="d-flex justify-content-between">
    <button
      id="btnPrevPage"
      type="button"
      {{#unless pagination.hasPrevPage}}
      disabled="true"
      {{/unless}}
    >
      Página anterior
    </button>
    <button
     id="btnNextPage"
     type="button"
     {{#unless pagination.hasNextPage}}
     disabled="true"
     {{/unless}}
    >
      Página siguiente
    </button>
  </div>
</main>

<script>
  window.pagination = {{{json pagination}}};
</script>
<script type="module" src="/static/js/utils/cartUtils.js"></script>
<script type="module" src="/static/js/home.js"></script>